<ion-view title="Page" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="page4-heading2" style="color:#000000;">Let us know ur data:</h1>
    <form id="page4-form4" class="list">
      <label class="item item-input" id="page4-input1">
        <span class="input-label">Name</span>
        <input type="text" placeholder="" ng-model="mdl.name">
      </label>
      <label class="item item-input" id="page4-input2">
        <span class="input-label">Phone Number</span>
        <input type="text" placeholder="" ng-model="mdl.phone">
      </label>
      <label class="item item-input" id="page4-input3">
        <span class="input-label">email</span>
        <input type="text" placeholder="" ng-model="mdl.email">
      </label>
    </form>
    <a ui-sref="page5({radio: radio, check1: check1, check2: check2, check3: check3, check4: check4, comment: comment, name: mdl.name, email: mdl.email, phone: mdl.phone})" id="page4-button8" class="button button-positive button-block">Submit</a>
  </ion-content>
</ion-view>